*, *::before, *::after {
    box-sizing: border-box;   
}

/* global */

$font-text: 'Montserrat', sans-serif;
$font-header: 'Montserrat', sans-serif;
$font-logo: 'Sevillana', cursive;
$font-script:'Vollkorn', serif;
$color-main: #353b48;
$color-light: #f5f6fa;
$color-logo: #fbc531;

h2,h3 {
    font-family: $font-header;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;                           
}

.gold-logo {
    font-size: 22px;
    font-family: $font-logo;
    font-weight: bold ;
    color: $color-logo;
    font-style: italic;   
}

.bar a {
    text-decoration: none;
    font-size: 12px;
    color: $color-light;
    font-family: $font-header;
}

li {
    display: inline-block;
    padding-right: 30px;
}

.bar {
    text-align: center;
    margin: auto;
}

.splash {
    background-image: url(https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1961&q=80);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    position: relative;
}

.inner-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    font-family: $font-header;
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background:$color-logo;
    border-color:$color-logo;
    color:$color-light;
    }
.p-main {
    color: $color-light;
    font-family: $font-script;
    font-size: 40px;
}


/* services */

.services i {
    width: 36px;
    height: 38px;
    line-height: 38px;
    border: 1px solid $color-logo;
    color: $color-logo;
    border-radius: 50px;;
    text-align: center;
    }

.services .col, .portfolio .col, .footer .col-4, .services .col-md, .portfolio .col-md, .footer .col-md {
    text-align: center;
    padding: 10px;
}

.services p, .portfolio p {
    font-family: $font-text;
}

.portfolio img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.portfolio {
    background: $color-light;

}

.portfolio h3, p {
    background: #ffff;
    margin: 0;
    padding: 10px 0;
} 

.p-portfolio, {
    background: $color-light;
}

.p-main, .p-golden {
    background: none;
    text-align: center;
}

.footer i {
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: $color-main;
    color: #ffff;
    border-radius: 25px;;
    text-align: center;
    }

.footer-social {
    margin: 10px 0 0 0;
}

@media  (max-width: 767px) {
    .inner-splash {
        white-space: unset;
        font-size: 15px;
    }
}
