*, *::before, *::after {
    box-sizing: border-box;   
}
$font-text: 'Montserrat', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;
$font-logo: 'Shadows Into Light', cursive;
$color-main: #353b48;
$color-light: #f5f6fa;
$color-logo: #fbc531;




ul {                /* usuniecie wypunktowania */
    padding: 0;
    margin: 0;
    list-style-type: none;                           
}
.gold-logo {
    font-size: 22px;
    font-family: $font-logo;
    font-weight: bold ;
    color:$color-logo;
}
.bar a {
    text-decoration: none;
    font-size: 12px;
    color: $color-main;
}

li {
    display: inline-block;
}
.bar {
    text-align: center;
    margin: auto;
}
.splash{
height: 100vh;
    min-height: 500px;
    background-image: url(https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1961&q=80);
    background-size: cover;
    background-position: center;
}